@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.map-container {
    position: relative;
}
.dropdown-container {
    position: absolute;
    z-index: 1000; /* Ensure dropdown is above the map */
    width: 100%;
    display: flex;
    justify-content: center; /* Center dropdown horizontally */
    padding: 10px 0; /* Adjust spacing */
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


html, body{
    height: 100%;
    width: 100vw;
}

.dropdown-menu {
    max-height:200px;
   
 }

 .blue {
    color: blue;
 }
 .weather-content {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; /* Needed for positioning the pseudo-element */
  }
  
  .weather-content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }
  

  .weather-content .modal-header,
  .weather-content .modal-body,
  .weather-content .modal-footer {
    position: relative;
    z-index: 2; 
  }
  

#flagSize {
    height: 70px;
    width: 70px;
}

a {
    text-decoration: none;
    color: purple;
}